<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/styles2.css">
</head>
<body>
    <div class="DIV000" ><p class="T000">Hora de crear un nuevo producto </p> 
    
        <form action="/products/crear/?_method=put" method="POST">
            <label class="L000" for="">Name</label><br>
            <input class="I000" type="text" name="name"><br><br>
    
    
            <label class="L000" for="">Description</label><br>
            <input class="I000" type="text" name="description" ><br><br>
    
    
            <label class="L000" for="">Price</label><br>
            <input class="I000" type="text" name="price" ><br><br>
    
    
            <label class="L000" for="">Discount</label><br>
            <input class="I000" type="text" name="discount" ><br><br>
    
    
            <label class="L000" for="">Image</label><br>
            <input class="I000" type="text" name="image" ><br><br>
    
    
            <label class="L000" for="">Category</label><br>
            <input class="I000" type="text" name="category"><br><br>
            <button class="B000" type="submit">Crear!</button>
    
    
        </form>
    
</body>
</html>