<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
<p>
    <h1>Nuestras paginas disponibles son</h1>
    <h2> 
        <ul>
            <li> / </li>
            <li> /products </li>
            <li> /products/:id </li>
            <li> /crear </li>
            <li> /asesinar/id </li>
        </ul>
    </h2>
</p>
