<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Murder</title>
    <link rel="stylesheet" href="../stylesheets/styles2.css">
</head>
<body>
    <div class="DIV000">
        <form action="/asesinar/<%= detalles.id %>?_method=put" method="POST">
            <label class="L000" for="">Are U Sure U Want 2 Commit Murder To A Beloved Product?</label><br><br><br>
            <button class="B000" type="submit">Hell Yeah</button>
            <a href="../"><button class="B000">Hell Nah</button></a>
            
            
        </form>
    </div>
</body>
</html>