*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
#text{
    display: none;
}
body{
  margin: 0px;
  background-color: rgba(212, 212, 212, 0.788);
}
.D000{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4%;
}
.B000{
    width: 90%;
    background-color:rgb(88, 88, 184) ;
    font-size: 28px;
    align-self: center;
    border-radius: 5px;
    color: white;
    height: 30%;
    border: 2px black solid;
}
.container1{
    display: flex;
    justify-content: left;
    background-color: #EAC926;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 4%;
}
.logo{
    width: 40%;
}
.buscador{
    width: 50%;
    align-self: center;
    justify-content: center;
    
    background-color: white;
    color: gray;
}
.banner{
    width: 100%;
}
.subtitulo{
    background-color: #EAC926;
    display: flex;
    padding-top: 3%;
    padding-bottom: 3%;
    align-self: center;
    justify-content: center;
    
    
}
.textoSub{
    font-family: Roboto;
    font-size: 20px;
    text-align: center;
    margin-left: 0.5%;
}

.fa-align-justify{
    background-color: #03264C ;
    font-size: 24px;
    padding: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    color: white;
    
}
.subsubtitulo{
    background-color: #EAC926;
    text-align: center;
}

.bodyProductos{
    background-color: #ebebeb;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.producto{
    overflow: hidden;
    width: 95%;
    background-color: white;
    margin-bottom: 3%;
    
}
.imgproducto{
    width:100%;
    position: relative;
    border-bottom: 1%;
    
}
.textoprod{
    
    font-size: 24px;
    display: inline;
    text-align: left;
    margin-left: 1%;
}
.titulos{
    display: flex;
    font-size: 24px;
    padding: 1%;
    justify-content: left;
    width: 94%;
    color: #666666;
    margin-top: 6%;
    margin-bottom: 6%;
    font-weight: bold;

}




.imgdelivery{
    position: relative;
    font-size: 24px;
    display: inline-flex;
    height: 0.5px;
    z-index: 2;
    width: 14%;
    height: 0px;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    
    
    
}
.fa-truck{
    position: absolute;
    
    left: 200%;
    top: 1%;
    color: rgb(27, 177, 27);
    
    
    
    
    
    
    
}





.descuento{
    display: inline;
    font-size: 16px;
    color: #39b54a;
    align-self: center;
    margin-left: 3%;
    padding-left: 1%;
    
    
}
.bajotitulo{
    display: flex;
    justify-content: left;
    align-self: center;
    margin-top: 5px;
    border-top: 1px solid #ebebeb;
}


.footer{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 20%;
    padding-top: 5%;
    background-color: white;
    justify-content: space-evenly;
}
.f-texto-destacado{
    font-size: 24px;
    color: #666666;
}
.alfa{
    background-color: white;
    width: 100%;
    align-items: center;
    text-align: center;
}
.Producto:last-child{
    margin-bottom: 30%;
}

.beta{
    background-color: white;
    width: 100%;
    text-align: left;
    font-size: 12px;
    border-top: 1px solid #ebebeb;
}
.fa-credit-card{
    font-size: 30px;
    color: rgb(48, 48, 230);
}
.fa-user-shield{
    font-size: 30px;
    color: rgb(48, 48, 230);
}
.fa-gift{
    font-size: 30px;
    color: rgb(48, 48, 230);
}
.subsubtitulotablet{
    display: none;
}
.T000{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.T001{
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.C000{
    background-color: white;
    margin-left: 3%;
    margin-right: 3%;
    padding: 3%;
    margin-top: 3%;
    
}
.C001{
    margin-bottom: 1%;
    border-top: 1px gray solid;
}
.HL000{
    margin-right: 3%;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 2px solid black;
  
  padding: 5px;
  height: 20px;
  border-radius: 5px 5px 5px 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: black;
}

.searchButton {
  display: none;
  width: 40px;
  height: 36px;
  border: 1px solid gray;
  background: gray;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 8%;
  left: 73%;
  
  transform: translate(-50%, -50%);
}
@media (min-width: 768px){
.titulos1{
    display: flex;
    flex-wrap: wrap;
    background-color: #EAC926 ;
    justify-content: space-between;
}
.logo{
    width: 30%;
}
.buscador{
    width: 38%;
}
.subtitulo{
    width: 30%;
}
.subsubtitulo{
    display: none;
}
.subsubtitulotablet{
    display: flex;
    justify-content: space-around;
    background-color: #EAC926 ;
    font-family: Roboto;
    font-size: 16px;
}
.texto2{
    word-spacing:5px;
}
.fa-id-card{
    margin-right: 3px;
}
.producto{
    width: 40%;

}
.bodyProductos{
    justify-content: space-evenly;
}
.logo{
    width: 60%;
}
.wrap{
    width: 30%;
    position: absolute;
    top: 10%;
    left: 50%;
    
    transform: translate(-50%, -50%);
  }

  .imgdelivery{
    position: relative;
    font-size: 24px;
    display: inline-flex;
    height: 0.5px;
    z-index: 2;
    width: 14%;
    height: 0px;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    
    
    
}
.fa-truck{
    position: absolute;
    
    left: 192%;
    top: 1%;
    color: rgb(27, 177, 27);
    
    
    
    
    
    
    
}

}
@media (min-width: 1028px){
.subsubtitulotablet{
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;
}
.bodyProductos{
    padding-right: 3%;
    padding-left: 3%;
}
.producto{
    width: 22%;
}
.titulos{
    margin-top: 1%;
    margin-bottom: 1%;
}
.footer{
    margin-top: 5%;
}
.alfa{
    width: 30%
}
.container1{
    justify-content: space-between;
}
.titulos1{
    justify-content: space-between;
}
.logo{
    width: 76%;
    
}
.wrap{
    width: 30%;
    position: absolute;
    top: 10%;
    left: 50%;
    
    transform: translate(-50%, -50%);
  }
  .imgdelivery{
    position: relative;
    font-size: 24px;
    display: inline-flex;
    height: 0.5px;
    z-index: 2;
    width: 14%;
    height: 0px;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    
    
    
}
.fa-truck{
    position: absolute;
    
    left: 200%;
    top: 1%;
    color: rgb(27, 177, 27);
    
    
    
    
    
    
    
}


}